@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


:root{
    --orange:#ffa500;
}

*{
    font-family: 'Nunito' , sans-serif;
    margin:0; padding:0;
    box-sizing: border box;
    text-transform: capitalize;
    outline:none; border:none;
    text-decoration: none;
    transition:all .2s linear;

}
*::selection{
    background:var(--orange);
    color: #fff;
    
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section{
    padding: 7rem 2%;
}

body{
    background-image: url('./../images/background/tyl5.jpg');
}

.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgba(255,165,0,.2);
    color: var(--orange);
    border-radius: .5rem;
    padding: .2rem 1rem;
    display: inline-block;
}

.heading span.space{
    background: none;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background:var(--orange);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: rgba(255,165,0,.2);
    color: var(--orange);
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background:rgb(114, 72, 72);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:#fff;
    text-transform: uppercase;
}

header .logo span{
    color:#ffa500;
}

header .navbar a{
    color:#fff;
    font-size: 2rem;
    margin: 0 .8rem;
}

header .navbar a:hover{
    color: var(--orange);
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.home .img-container img{
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


:root{
    --orange:#ffa500;
}

*{
    font-family: 'Nunito' , sans-serif;
    margin:0; padding:0;
    box-sizing: border box;
    text-transform: capitalize;
    outline:none; border:none;
    text-decoration: none;
    transition:all .2s linear;

}
*::selection{
    background:var(--orange);
    color: #fff;
    
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section{
    padding: 7rem 2%;
}

.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgba(255,165,0,.2);
    color: var(--orange);
    border-radius: .5rem;
    padding: .2rem 1rem;
    display: inline-block;
}

.heading span.space{
    background: none;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background:var(--orange);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: rgba(255,165,0,.2);
    color: var(--orange);
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background:rgb(114, 72, 72);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:#fff;
    text-transform: uppercase;
}

header .logo span{
    color:#ffa500;
}

header .navbar a{
    color:#fff;
    font-size: 2rem;
    margin: 0 .8rem;
}

header .navbar a:hover{
    color: var(--orange);
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
}

.home .img-container img{
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box{
    width: 800px;
    height: 600px;
    background-color:rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
}

.box img{
	width:100px;
    margin-top:-50px ;
}

.header {
	width: 300px;
    height: 50px;
    text-transform: uppercase;
	display: inline-flex;
    padding-top: 20px;
    padding-bottom: 0;
	justify-content: space-between;
}

.header a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
	display: inline-flex;
    padding-left: 25px;
    padding-right: 25px;
	justify-content: center;
    cursor:pointer;
}

.header .active {
    color: #df80ff;
	font-weight: bold;
	position: relative;
}

.header .active:after {
	position: absolute;
    border: none;
	content: "";
}

#errorMsg{
    color:red;
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;

}

.content{
    display: inline-flex;
    overflow: hidden;
}
form{
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100%;
	flex-shrink: 0;
	flex-direction: column;
	transition: right 0.5s;
}

.login a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;

}

.extend form {
	right: 100%;
}

input[type=text], input[type=password], input[type=email]{
	display:block;
    position: relative;
	border: 4px solid #ffffff;
	padding: 12px;
    margin-bottom: 15px;
    width: 100%;
 	box-sizing: border-box;
    font-size: 17px;
    outline: none;
}

input[type=text]:hover,  input[type=password]:hover, input[type=email]:hover{
    border: 4px solid #df80ff;

}

input[type=submit]{
    display:block;
    position: relative;
    border: 3px solid #df80ff;
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 25px;
    background-color:#600080 ;
    text-align:center;
    font-size: 20px;
    color: #ffffff;
	cursor:pointer;
    outline: none;
}
	
input[type=submit]:hover{
	 background-color:#ffffff;
     color: #000000;
     font-weight: bold;
}
input[type=checkbox]{
    background-color:#df80ff;
}
#check{
    margin-top: 10px;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
}

.box{
    width: 400px;
    height: 300px;
    background-color:rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
}

.box img{
	width:100px;
    margin-top:-50px ;
}

.header {
	width: 300px;
    height: 50px;
    text-transform: uppercase;
	display: inline-flex;
    padding-top: 20px;
    padding-bottom: 0;
	justify-content: space-between;
}

.header a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
	display: inline-flex;
    padding-left: 25px;
    padding-right: 25px;
	justify-content: center;
    cursor:pointer;
}

.header .active {
    color: #df80ff;
	font-weight: bold;
	position: relative;
}

.header .active:after {
	position: absolute;
    border: none;
	content: "";
}

#errorMsg{
    color:red;
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;

}

.content{
    display: inline-flex;
    overflow: hidden;
}
form{
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100%;
	flex-shrink: 0;
	flex-direction: column;
	transition: right 0.5s;
}

.login a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;

}

.extend form {
	right: 100%;
}

input[type=text]{
	display:block;
    position: relative;
	border: 4px solid #ffffff;
	padding: 12px;
    margin-bottom: 15px;
    width: 100%;
 	box-sizing: border-box;
    font-size: 17px;
    outline: none;
}

input[type=text]:hover{
    border: 4px solid #df80ff;

}

input[type=submit]{
    display:block;
    position: relative;
    border: 3px solid #df80ff;
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 25px;
    background-color:#600080 ;
    text-align:center;
    font-size: 20px;
    color: #ffffff;
	cursor:pointer;
    outline: none;
}
	
input[type=submit]:hover{
	 background-color:#ffffff;
     color: #000000;
     font-weight: bold;
}
input[type=checkbox]{
    background-color:#df80ff;
}
#check{
    margin-top: 10px;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
}

h1,p{
    color: #ffffff;
}

.box-container{
        width: 1500px;
        height: 200px;
        background-color:rgba(0, 0, 0, 0.6);
        padding: 20px;
        margin: 8% auto 0;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        flex-direction: column;
    
}